version: 2.1
jobs:
  build-and-test:
    docker:
      - image: cimg/openjdk:11.0
    steps:
      - checkout
      - run:
          name: Build
          command: mvn clean install
      - store_artifacts:
          path: TestReport/Test-Automaton-Report.html
          destination: Test-Automaton-Report.html
workflows:
  sample: # This is the name of the workflow, feel free to change it to better match your workflow.
    jobs:
      - build-and-test
     
      
